*   {
  margin: 0;
  padding: 0;
}
  .background {	
	background="images/shirokobg.png"
	background-size: cover;
	background-repeat: no-repeat:
`	height: 100vh; 
}
  .wrapper {
  margin: 0 auto;
  height:100vh
}
  
